body {
  margin: 0;
  background-color: grey;
}
#container {
  display: flex;
  flex-direction: column;
}
.image {
  border: 1px solid black;
  width: 617px; height: 347.062px; margin: 0px;
}
.extra {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div {
  border: 1px solid  red;
  margin: 4px;
}